<!DOCTYPE html>
<html>
  <head>
    <title>youtube play 🎉</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div id="container">
      <div>
        <a href="/login/google">login with google</a>
      </div>
      <div>
        <a href="/login/facebook">login with facebook</a>
      </div>
      <div>
        <a href="/login/kakao">login with kakao</a>
      </div>
      <div>
        <a href="/login/naver">login with naver</a>
      </div>
    </div>
  </body>
</html>
